.swap {

    * {
        color: #313e4e;
    }

    .button {
        border-radius: 8px;
    }

    .block {
        margin-bottom: 50px;
        width: 100%;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 900 !important;
        color: #313e4e !important;
        font-size: 14px !important;
        letter-spacing: 1px;
    }

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .button:disabled {
        color: white;
    }

    .checking {
        display: flex;
        justify-content: center;
        align-content: center;

        >* {
            margin-right: 10px;
        }
    }

    .button--white:disabled {
        color: $blue-bright;
    }

    .red {
        color: $red;
    }

    >* {
        margin-bottom: 20px;
    }

    .deposit-address,
    .deposits {
        width: 100%;
        border-radius: 8px;
    }

    .deposit-address {
        font-size: 18px;
        margin-top: 10px;

        transition: max-height 1s ease;
        overflow: hidden;
        max-height: 0px;
        background-color: #313e4e;

        &.btc {
            * {
                color: #F09242;
            }

            max-height: 100px;
            padding: 10px;
        }

        &.zec {
            * {
                color: white;
            }

            max-height: 100px;
            padding: 10px;
        }

        &.eth {
            * {
                color: #627eea;
            }

            max-height: 100px;
            padding: 10px;
        }
    }

    .deposits {
        // margin-top: -20px;
        background-color: white;
        padding: 0;
        width: 100%;
    }

    .deposit-address>*,
    .deposits>* {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .deposit-address>div,
    .deposit-address>a,
    .deposits>div,
    .deposits>a {
        width: calc(100% - 40px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 1px solid #ccc;
        border-radius: 8px;
        flex-grow: 1;
    }

    .deposit-address>div,
    .deposit-address>a {
        border: none;
        border-radius: 8px;
        display: block;
    }

    h3 {
        color: #58585B;
        margin-top: 0;
        font-size: 19px;
        font-weight: 100;
        text-align: left;
    }

    .deposits--title {
        border: none !important;
        justify-content: flex-start !important;
        margin: 0 !important;

        .button {
            width: 160px;
            padding: 0;
            margin: 0;
            margin-left: 20px;
            text-align: left;
            margin-bottom: 14px;
        }
    }

    .utxo {
        font-size: 14px;
        align-items: flex-start;
        text-decoration: none;
        width: calc(100% - 40px);

        display: flex;
        align-items: center;
        padding: 20px;

        .utxo--right {
            display: flex;
            flex-flow: column;
            width: 100%;
            align-items: flex-start;
        }

        >*+* {
            margin-top: 5px;
        }
    }

    .utxo--txid {
        opacity: 0.5;
    }

    .swap--eth--form {
        width: 100%;
    }

    .swap--eth--input {
        display: flex;

        border: 1px solid #313e4e;
        background: #fff;
        display: flex;
        border-radius: 8px;
        border: 1px solid #dfe1e5;
        border-radius: 8px;
        z-index: 3;
        height: 44px;
        width: 100%;

        &:hover {
            // border-color: rgba(223, 225, 229, 0);
        }

        input[type=text] {
            height: 100%;
            flex-grow: 1;
            background: none;
            border: none;
            padding-left: 25px;
        }
    }

    .currencies {
        display: flex;
        align-items: flex-start;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
    }

    .currency {
        cursor: pointer;
        width: 150px;
        height: 90px;
        border-radius: 8px;
        margin: 0 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {}

        svg {
            transform: scale(4);
        }

        &.btc {
            background: #F09242;
        }

        &.zec {
            background: rgb(35, 31, 32);
        }

        &.eth {
            background: #627eea;
        }
    }

    .circle--progress {
        width: 60px;
        margin-right: 15px;
    }

    .swap--eth--submit {
        flex-grow: 0;
        width: 80px;
        min-width: 80px;
        padding: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        font-weight: 900;
    }

    .metamask-logo {
        width: 30px;
        min-width: 30px;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        height: 37px;
        border: none;
        border-left: 1px solid #fafafa;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-left: 5px;

        &:hover {}

        svg {
            width: 20px;
        }
    }
}

.tag {
    margin: 0;
    margin-left: 5px;
    padding: 3px 6px;
    background: transparentize($blue-bright, 1 - 0.6);
    font-size: 12px;
    color: white;
    border-radius: 5px;
}